@charset "utf-8";

body {
    font-family: 'HG丸ゴシックM-PRO' !important;
}

div {
    font-family: 'HG丸ゴシックM-PRO' !important;
}

p {
    font-family: 'HG丸ゴシックM-PRO' !important;
}

.btn {
    font-family: 'HG丸ゴシックM-PRO' !important;
}

img {
    width: 200px;
    height: auto;
}

.auth {
    font-weight: bold;
    font-style: italic;
}

.must {
    color: #ff0000;
    font-size: 15;
}

table {
    text-align: center;
}

.suturday {
    background-color: #d3d3d3;
    color: #0000ff;
}

.sunday {
    background-color: #d3d3d3;
    color: #ff0000;
}

.tomonth {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

.table_lines {
    border: 0.5px #c0c0c0 solid;
    background-color: rgba(255, 215, 224, 0.3);
}

.title {
    background-color: #89ff89;
}

.info {
    font-style: italic;
}

.create {
    display: flex;
    justify-content: center;
}

.employee {
    font-size: 20px;
}

.qr {
    display: flex;
    justify-content: center;
}

/* --- メディアクエリでデバイスごとのスタイル変更 --- */

/* スマートフォン用 (幅が768px未満) */
@media screen and (max-width: 767px) {
    body {
        font-size: 10px;
    }

    .slot {
        font-size: 15px;
    }

    .employee {
        font-size: 15px;
    }

    .tomonth {
        font-size: 15px;
    }

    .btn {
        font-size: 10px;
    }

    .qr {
        font-size: 15px;
    }
}
